ETH_SIGNER_MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon able"
LENDER_MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about"
BORROWER_MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon above"
ARBITER_MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon absent"
LIQUIDATOR_MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon absorb"